footer{
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
