header{
    width: 100%;
    height: 5rem;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0rem 1rem ;
    display: flex;
    justify-content: left;
    align-items:center;
}
.logo{
    font-size: 2rem;
}