body {
  margin: 0;
  padding: 0;
  color: var(--secondary);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
}
:root {
  --primary: purple;
  --secondary: white;
}
.add {
  position: absolute;
  right: 2rem;
  top: 7rem;
  border: none;
  color: var(--secondary);
  padding: 0rem 1rem;
  border-radius: 50%;
  font-weight: 800;
  background-color: var(--primary);
  font-size: 2.5rem;
}
.cards {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: var(--primary);
  box-shadow: 0px 0px 10px var(--primary);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  height: 15rem;
  margin-bottom: 2rem;
}
.card h3 {
  border-bottom: 2px solid;
  padding-left: 1rem;
  padding-bottom: 10px;
  overflow: auto;
  white-space: nowrap;
}
.card span{
  float: right;
  margin-right: 1.5rem;
}
.card p {
  padding-left: 1rem;
  overflow: auto;
  height: 9rem;
}
form {
  background-color: var(--primary);
  border-radius: 20px;
  position: fixed;
  left: 10%;
  top: 12rem;
  height: 30rem;
  width: 80%;
  padding: 1.5rem;
  display: none;
  box-shadow: 0px 0px 10px var(--secondary);
}
form input,
form textarea {
  border-radius: 10px;
  outline: var(--primary);
  padding: 10px;
  margin-bottom: 1rem;
  width: 90%;
  height: 2rem;
}
form textarea {
  height: 10rem;
}
input[type="submit"] {
  width: 5rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: green;
  color: var(--secondary);
}
.cutform {
  position: absolute;
  right: 2rem;
  font-size: 1.2rem;
}
@media only screen and (min-width: 600px) {
  .card {
    width: 60%;
  }
  form {
    width: 30%;
    left: 35%;
  }
}
@media only screen and (max-width: 1024px) and (min-width:600px){
  form {
    width: 50%;
    left: 25%;
  }
}
